<!DOCTYPE html>
<html>
  <head>
    <%-include('./partial/head.ejs') %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2"><%-include('./partial/sidenav.ejs') %></div>
        <div class="col-sm-10">
          <h1>Title : <%= book.title %></h1>
          <p>
            <strong>Author :</strong>
            <a href="<%= book.author.url  %> "> <%= book.author.name %> </a>
          </p>
          <p>
            <strong>Summary :</strong>
            <%= book.summary %>
          </p>
          <p>
            <strong>ISBN :</strong>
            <%= book.isbn %>
          </p>
          <p>
            <strong>Genre :</strong>
     
            <% if (book.genre.length) { %> <% book.genre.forEach((genre,index)=> { %>
               <a href="<%= genre.url %> "> <%= genre.name %> </a>
               <% if (index < book.genre.length - 1) { %>
                ,
                <% } %>
               <% }) %> <% } else {  %>
                No Genres 
               <% } %>
          </p>
            <div style="margin-left:20px ; margin-top: 20px;">
              <h4>Copies</h4>
               <% if (book_instances.length) { %> 
                <% book_instances.forEach(bookinstance=> { %>
                 <% if (bookinstance.status == 'Available') { %> 
                  <p class="text-success">
                    <%= bookinstance.status %>
                  </p>
                 <% } else if (bookinstance.status == 'Maintenance') { %>
                  <p class="text-danger">
                    <%= bookinstance.status %>
                  </p>
                <% } else { %>
                  <p class="text-warning">
                    <%= bookinstance.status %>
                      </p>
                    <% } %> 
                 <p><strong>Imprint :</strong>
                  <%= bookinstance.imprint %> 
                 </p>
                <% if (bookinstance.status != 'Available') { %> 
                 <p><strong>Due Back : </strong>
                  <%= bookinstance.due_back_formatted %>
                 </p>
                <% } %>
                <p><strong>Id :</strong>
                  <a href="<%= bookinstance.url %> ">
                   <%= bookinstance.id  %> 
                  </a>
                </p>
               <% }) %>
              <% } %>
            </div>
            <hr>
            <p><a href="<%= book.url %>/delete">Delete Book</a></p>
            <p><a href="<%= book.url %>/update">Update Book</a></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
